
CritterCrush/.DS_Store
CritterCrush/CritterCrush.xcworkspace/xcuserdata/minjoo.xcuserdatad/UserInterfaceState.xcuserstate
CritterCrush/Pods/Pods.xcodeproj/xcuserdata/minjoo.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
CritterCrush/CritterCrush.xcworkspace/xcuserdata/minjoo.xcuserdatad/UserInterfaceState.xcuserstate
*.plist
CritterCrush/CritterCrush.xcodeproj/xcuserdata/minjoo.xcuserdatad/xcschemes/xcschememanagement.plist
CritterCrush/.DS_Store
